<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 Studio Raz. All rights reserved.
  ~ See LICENCE file for license details.
  -->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <srcloudflare>
            <general>
                <active>0</active>
                <image_quality>85</image_quality>
                <image_fit>none</image_fit>
            </general>
            <cache>
                <active>0</active>
                <debug>0</debug>
                <api_url>https://api.cloudflare.com/client/v4/zones/%s/purge_cache</api_url>
                <api_token backend_model="Magento\Config\Model\Config\Backend\Encrypted"/>
            </cache>
        </srcloudflare>
    </default>
</config>
