<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 Studio Raz. All rights reserved.
  ~ See LICENCE file for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- section id see: \SR\Cloudflare\Config\Config::EXT_ALIAS -->
        <section id="srcloudflare" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cloudflare</label>
            <tab>studioraz</tab>
            <resource>SR_Cloudflare::srcloudflare_settings</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="active" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="image_quality" type="text" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Image Quality</label>
                    <comment><![CDATA[Specifies quality for images in JPEG, WebP, and AVIF formats. The quality is in a 1-100 scale, but useful values are between <i>50</i> (low quality, small file size) and <i>90</i> (high quality, large file size). <i>85</i> is the default. When using the PNG format, an explicit quality setting allows use of PNG8 (palette) variant of the format.<br>See <a href="https://developers.cloudflare.com/images/image-resizing/url-format/#quality" target="_blank">Cloudflare documentation</a> for more information.]]></comment>
                </field>

                <field id="image_fit" type="select" translate="label" sortOrder="220" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Image Fit</label>
                    <source_model>SR\Cloudflare\Model\System\Config\Source\ImageFit</source_model>
                    <comment><![CDATA[Affects interpretation of <i>width</i> and <i>height</i>. All resizing modes preserve aspect ratio.<br>See <a href="https://developers.cloudflare.com/images/image-resizing/url-format/#fit" target="_blank">Cloudflare documentation</a> for more information.]]></comment>
                </field>
            </group>

            <group id="cache" translate="label" type="text" sortOrder="10"
                   showInDefault="1" showInWebsite="0" showInStore="0">
                <label>Cloudflare Cache</label>

                <field id="active" translate="label" sortOrder="10" type="select"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="zone_id" translate="label comment" sortOrder="20" type="text"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>Zone ID</label>
                    <comment><![CDATA[Cloudflare Zone ID from the dashboard Overview page.]]></comment>
                    <validate>required-entry</validate>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="api_token" translate="label comment" sortOrder="30" type="obscure"
                       showInDefault="1" showInWebsite="0" showInStore="0">
                    <label>API Token</label>
                    <backend_model>Magento\Config\Model\Config\Backend\Encrypted</backend_model>
                    <comment><![CDATA[Cloudflare API Token with <strong>Zone.Cache Purge</strong> permission.]]></comment>
                    <depends>
                        <field id="active">1</field>
                    </depends>
                </field>

                <field id="debug" translate="label comment" sortOrder="100" type="select"
                       showInDefault="1" showInWebsite="0" showInStore="0" canRestore="1">
                    <label>Debug</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                    <comment><![CDATA[When enabled, API requests and responses are written to <code>var/log/srcloudflarecache.log</code>]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
