<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright © 2022 Studio Raz. All rights reserved.
  ~ See LICENCE file for license details.
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <!-- section id see: \SR\Cloudflare\Config\Config::EXT_ALIAS -->
        <section id="srcloudflare" translate="label" type="text" sortOrder="350" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Cloudflare</label>
            <tab>studioraz</tab>
            <resource>SR_Cloudflare::srcloudflare_settings</resource>

            <group id="general" translate="label" type="text" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>

                <field id="active" translate="label" sortOrder="100" type="select" showInDefault="1" showInWebsite="1" showInStore="1" canRestore="1">
                    <label>Enabled</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>

                <field id="image_quality" type="text" translate="label comment" sortOrder="200" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Image Qualilty</label>
                    <comment><![CDATA[Value unit is percentage. Example: 100.]]></comment>
                </field>
            </group>
        </section>
    </system>
</config>
